@charset "UTF-8";

// our variables
@import "settings";

// normalize lib
@import "normalize";

// foundation lib
@import "foundation";


// font-awesome
@import "font-awesome";

// our styles
.button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ie-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
}
.button:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav.top-bar {
    margin-bottom: 0.5rem;
}

nav a:hover {
    text-decoration: none;
}

html {
    min-height: 100%;
    background: #fff;
}


.listair {
    padding: 0.625em 0;
}

.fullheight {
    height: 100%;
}

#dates {
    margin-left: 0;
    li {
        list-style: none outside none;
        input[type="radio"] {
            display: none;
        }
    }
    label {
        padding: 5px;
        font-size: 1rem;
    }
    .active {
        background-color: #87c2de;
    }
}
#filters {
    margin-left: 0;
    li {
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
        background-color: $secondary-color;
        label {
            display: inline-block;
            padding: 5px;
            font-size: 1rem;
        }
        input[type="radio"] {
            display: none;
        }
        &:hover,
        &.active {
            background-color: #87c2de;
        }
    }
}

#map {
    height: 80%;
}
